$pink: rgb(188, 15,81);
$purple: rgb(150,28,103);


.App {
  text-align: center;
}

.home, .createEditTeam, .teamInformation {
  display: flex;
  background-color: rgba(0, 0, 255, 0.1);
  width: 100%;
}

.home div, .createEditTeam div {
  background-color: white;
  padding:0.8em;
  border-radius: 0.5em;
  margin: 1em;
  width:100%;
  min-width:200px;
}

.header {
  background: -webkit-linear-gradient(left, $pink, $purple);
  font-size:1.8em;
  color: white;
  height:1.8em;
  text-align: left;
  padding-top:0.3em;
  padding-left:5%;
}

.teamInformation div * {
  width:100%;
  display:flex;
  text-align:left;
  left:0;
}

.teamInformation div {
  margin-top:0;
}

.teamInformation div span {
 margin-top:1em;
}