$pink: rgb(188, 15,81);
$purple: rgb(150,28,103);
$mobile-width: 900px;
a,
a:link,
a:visited,
a:hover,
a:active{
text-decoration: none;
}

.App {
  text-align: center;
  height:90%;
}
html, body, #root, .home {
  height:100%;
}
.home, .createEditTeam, .teamInformation, .dragDropArea {
  display: flex;
  background-color: rgba(0, 0, 255, 0.1);
  width: 100%;
  flex-flow: wrap;
}

.home > div, .createEditTeam > div {
  background-color: white;
  padding:0.8em;
  border-radius: 0.5em;
  margin: 1em;
  
}

.home > div {
  width:43.5%;

  @media only screen and (max-width: $mobile-width) {
  
      width:100%;
      max-height: 30em;  
    
  }  
  min-width:10em;

}

.createEditTeam > div {
  width:100%;
}
.home > div:first-of-type {
  height:100%;
}

.header {
  background: -webkit-linear-gradient(left, $pink, $purple);
  font-size:1.8em;
  color: white;
  height:1.8em;
  text-align: left;
  padding-top:0.3em;
  padding-left:5%;
}

.titleContainer{
  display:flex;
  justify-content: space-between;
  padding:0;
  padding-bottom:1em;
  border-bottom: 1px solid rgba(0, 0, 255, 0.1);
}

.title{
  padding:0;
  margin:0;
}

.subtTitle {
  color: gray;
  font-size: 11em;
  
}

.addTeamButton {
  background: -webkit-linear-gradient(240deg, $pink, $purple);
  color:white;
  display: flex;
  width: 3em;
  height: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.addTeamButton > span {
  font-size:1.7em;
  margin-top:-0.1em;
  text-decoration: none !important;
}

.saveButton {
  color:white;
  background-color: $purple;
  width:38%;
  @media only screen and (max-width: $mobile-width) {
    width:100%;
  }
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.margin-right {
  width:38%;
  @media only screen and (max-width: $mobile-width) {
   display:none;
  }
}

.saveButtonDiv {
  display:flex;
  justify-content: space-evenly;
}

input, textarea{
  margin-top:0.4em;
  outline: 1px solid rgba(122, 120, 120, 0.5);
  border:none;
  resize:none;
}

input:focus, textarea:focus {
 outline: $pink auto 1px;
}

.invalidField {
  outline: red auto 2px;
}

.teamInformation, .dragDropArea {
  background-color:white;
  border-radius: 0.5em;
  display:flex;
  justify-content: space-evenly;
  margin-bottom:2em;
}



.availablePlayers {
  height: 40em;
  display: flex;
  flex-direction: column;
  overflow: overlay;
}
.teamInformation div * {
  width:100%;
  display:flex;
  text-align:left;
  left:0;
}

.teamInformation div {
  text-align: left;
  width: 35%;
}

.teamInformation div span, .dragDropArea div span {
 margin-top:1em;
 font-weight: bold;
 left: 0;
}

.dragDropArea > div {
  text-align: left;;
  display:block;
 margin-bottom:3em;
 width:38%;
 min-width: 411px;
 max-width: 490px;
 height:40em;
}

.dragDropArea div select {
  margin-bottom:1em;
  margin-left: 1em;

}

.dragDropArea input {
  margin:3em;
  margin-bottom:1em;
}

.soccerField {
  background: -webkit-linear-gradient(240deg, $pink, $purple);
  display:flex;
  flex-flow: column;
  height:100%;
}

.formationLine {
  width:100%;
  display:flex;
  justify-content: space-around;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.playerName {
  text-align: center;
  background-color:#CE9BBE;
  border-radius: 50%;
  width:4em;
  height:3.1em;
  margin: 0.6em;
  color: white;
  padding-top:0.9em;

}

.playerName span {
  font-size: 1.5em;
  margin-top:2em;
}

.playerItem {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 255, 0.1), white);
  border-radius: 2px;
  border: 0.2em dashed rgba(0, 0, 255, 0.1);
  display:flex;
  padding:1em;
  margin:0.1em;
}

.playerItem > div {
  display: flex;
  flex-flow: wrap;
}

.playerItem > div > span {
  margin:0.3em;
  font-size:0.8em;
  color: $pink;
  font-weight: bold;
}

.playerItem > div:first-of-type {
  width:75%;
}

.playerItem > div:nth-child(2){
  width: 25%;
}

.playerItem > div:first-of-type > .searchLabel {
  width:25%;
  color: black;
  text-align: left;
}

.playerItem > div:nth-child(2) > .searchLabel {
  width:20%;
  color: black;
  text-align: left;
}

.playerItem >  div:first-of-type > span {
  width:70%;
  text-align: left;
}

.playerItem >  div:nth-child(2) > span {
  width:40%;
  text-align: left;
}

.listColumns, .listLine {
  display:flex;
  margin-top: 2em;
  font-weight: bold;
}

.listColumns > div, .listLine > div {
  display:flex;
  text-align: right;
  margin-left:1em;
  justify-content: space-between;
  width:70%;
}

.listColumns > div:first-of-type {
  width:30%;
  border-right: 1px solid rgba(0, 0, 255, 0.1);
}

.listLine > div:first-of-type {
  width:33%;
}

.filterIcon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f5/Sort_both_small.svg");
  width:1em;
  height:1em;
  background-repeat: no-repeat;
  right:0;
  margin-top:0.2em
}

.topFiveRank {
  display:flex;
  align-content: space-between;
}

.topFiveRank > div {
  width:45%;
  margin:2.5%;
}

.rankTitle {
  margin-bottom: 0.5em;
  text-align: left;
  font-weight: bold;
}

.rankLine {
  display: flex;
  justify-content: space-between;
  border:1px solid rgba(0, 0, 255, 0.1);
  padding:0.5em;
  border-radius: 5px;
  font-weight: bold;
}

.rankLine > span:first-of-type {
  font-weight: normal;
}


.listButtons {
  display:flex;
  justify-content: space-around;
  width:20% !important;
}

.editButton{
  background: url('https://upload.wikimedia.org/wikipedia/commons/a/ac/Black_pencil.svg')
}

.shareButton{
  background: url('http://pngimg.com/uploads/share/share_PNG45.png' )
}

.removeButton{
  background: url("https://www.pikpng.com/pngl/m/159-1591301_pc-icon-to-delete-comments-delete-icon-svg.png");
}

.editButton, .shareButton, .removeButton {
  width:0.8em;
  height:0.8em;
  background-size: contain;
  background-repeat: no-repeat;
}

.pickedPlayers {
  background:-webkit-linear-gradient(100deg, $purple, $pink);
  height:15em;
  margin-top:2em;
  font-weight: bold;
  color:white;
  padding-top:2em;
  font-size: 80%;
  display:flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.playerPhoto {
  text-align: center;
  background:#CE9BBE;
  background-size: cover;
  background-position: 3px 3px;
  border:2px dashed #CE9BBE;
  border-radius: 50%;
  width:6em;
  height:3.8em;
  margin: 0.6em;
  color: white;
  padding-top:2.2em;
  background-clip: padding-box;
  background-origin: content-box, padding-box;
  
}

.rankSoccerLine {
  display:flex;
  margin-top:0.8em;
}

.percentage {
  margin-top:0.8em;
  display:block; 
}